{% extends 'newsletters/base.html' %}

{% block content %}

<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="fs-2 text-body-emphasis">{{ object.logs }}</h3>
                </div>

                <div class="card-body">

                    <table class="table">
                        <tr>
                            <td>дата и время последней попытки</td>
                            <td>{{ object.date_time }}</td>
                        </tr>
                        <tr>
                            <td>статус попытки</td>
                            <td>{{ object.status }}</td>
                        </tr>
                        <tr>
                            <td>ответ почтового сервиса</td>
                            <td>{{ object.mail_server_response }}</td>
                        </tr>

                    </table>
                </div>

                <div class="card-footer">
                    <a href="#" class="icon-link">
                        Завершить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}