{% extends 'newsletters/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Рассылки</h1>
</div>
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'newsletters:create' %}">Создать рассылку</a>
    <a class="btn btn-outline-primary" href="{% url 'newsletters:create_client' %}">Создать клиента</a>
</div>



    <div class="row">
        <div class="col-6">
            <div class="card mg-5">

                <div class="card-body">
                    <table class="table table-striped auto__table text-left">
                        <tr>
                            <td>количество рассылок всего</td>
                            <td>{{ mailing_count }}</td>
                        </tr>
                        <tr>
                            <td>количество активных рассылок</td>
                            <td>{{ enabled_mailing }}</td>
                        </tr>
                        <tr>
                            <td>количество уникальных клиентов для рассылок</td>
                            <td>{{ unique_users }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>



{% for object in object_list %}
<div class="col-3 gy-5">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.letter_subject }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ object.mailing_time }}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>- {{ object.mailing_status }}</li>
            </ul>
                <a href="{% url 'newsletters:newsletter' object.pk %}"
                   class="btn btn btn-outline-primary" >Посмотреть</a>

                <a href="{% url 'newsletters:edit' object.pk %}"
                   class="btn btn btn-outline-primary" >Изменить</a>
        </div>

        <div class="card-footer">
                <div class="btn-group">

                    <a href="{% url 'newsletters:logs' object.pk %}"
                       class="btn btn btn-outline-primary" >Статистика</a>

                </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
